<article class="flex items-start gap-4 mt-4" data-id="20">
  <app-user-image [user]="comment.author" />
  <div class="grid gap-1.5" data-id="24">
    <div class="flex items-center gap-2" data-id="25">
      <div class="font-semibold" data-id="26">
        {{ comment.author.firstName }} {{ comment.author.lastName }}
      </div>
      <div class="text-sm text-gray-500 dark:text-gray-400" data-id="27">
        {{ getTimeAgo(comment.updatedAt) }}
      </div>
    </div>
    <div data-id="28">
      {{ comment.content }}
    </div>
  </div>
</article>
