<article *ngIf="comment" class="flex items-start gap-4 mt-4 group" data-id="20">
  <app-user-image [user]="comment.author" />
  <div class="grid gap-1.5" data-id="24">
    <div class="flex items-center gap-2" data-id="25">
      <div class="font-semibold" data-id="26">
        {{ comment.author.firstName }} {{ comment.author.lastName }}
      </div>
      <div class="text-sm text-gray-500 dark:text-gray-400" data-id="27">
        {{ comment.updatedAt | timeAgo }}
      </div>
      <div
        *ngIf="!this.isEditing"
        class="hidden cursor-pointer group-hover:block"
        (click)="this.isEditing = true"
      >
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.8536 1.14645C11.6583 0.951184 11.3417 0.951184 11.1465 1.14645L3.71455 8.57836C3.62459 8.66832 3.55263 8.77461 3.50251 8.89155L2.04044 12.303C1.9599 12.491 2.00189 12.709 2.14646 12.8536C2.29103 12.9981 2.50905 13.0401 2.69697 12.9596L6.10847 11.4975C6.2254 11.4474 6.3317 11.3754 6.42166 11.2855L13.8536 3.85355C14.0488 3.65829 14.0488 3.34171 13.8536 3.14645L11.8536 1.14645ZM4.42166 9.28547L11.5 2.20711L12.7929 3.5L5.71455 10.5784L4.21924 11.2192L3.78081 10.7808L4.42166 9.28547Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <div
        *ngIf="this.isEditing"
        class="hidden cursor-pointer group-hover:block"
        (click)="this.isEditing = false"
      >
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
    <div *ngIf="!isEditing && comment" data-id="28">
      {{ comment.content }}
    </div>
    <div *ngIf="isEditing && comment">
      <form class="space-y-2">
        <textarea
          class="flex w-full h-20 px-3 py-2 text-sm border rounded-md border-input bg-background ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="content"
          placeholder="Enter content here..."
          name="content"
          required=""
          [(ngModel)]="editedComment"
          (resize)="(false)"
        ></textarea>
      </form>
      <button
        class="inline-flex items-center justify-center h-10 px-4 py-2 mt-2 text-sm font-medium text-white transition-colors bg-gray-800 border rounded-md hover:bg-gray-900 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground"
        (click)="handleEdit()"
        [disabled]="comment.content.length < 1"
      >
        Edit
      </button>
      <button
        class="inline-flex items-center justify-center h-10 px-4 py-2 mt-2 text-sm font-medium text-white transition-colors bg-red-500 border rounded-md hover:bg-red-600 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground"
        (click)="handleDelete()"
      >
        Delete
      </button>
    </div>
  </div>
</article>
